body {
	margin: 0;
	padding: 0;
}
.wrapper {
}
.header {
	height: 400px;
	width: 100%;
	background-color: #E0E0E0;
	padding: 0 0 0 0;
	top:0;
	left: 0;
	right: 0;
	position: absolute;
}
.Nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: #B0B0B0;
}
.Nav li {
	display: inline-block;
    font-size: 1.2em;
	color: white;
	text-align: center;
    height: 40px;
    width: 120px;
    line-height: 50px;
    margin-right: -4px;
    font-family: arial;
}