html, body
{
    height: 99%;
}
.header {
  	position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: #efefef;
	border-bottom: 3px solid #fd8a17;
	border-right: 5px solid #fd8a17;
	border-left: 2px solid #fd8a17;
	box-shadow: 1px 1px 0 #df7002, 2px 2px 0 #df7002, 3px 3px 3px rgba(0, 0, 0, 0.35);
}
.header header img {
	width: 50px;
	height: 50px;
	position: fixed;
	margin: 0 2% 0 2%;
}
.header nav {
	background-color: #EDEDED;
	margin: 35px 20px 20px 20px;
	border-top: 1px solid #df7002;

}
.header nav ul {
	width: 100%;
	text-align: center;
	list-style: none;
	padding: 0;
}
.header li {
	font-size: 20px;

}
.header li {
	display: inline-block;
	padding: 1% 2% 1% 2%;
	background-color: rgba(255, 255, 255, 2.35);
	margin: 0 2% 0 2%;
	border: 3px outset #fd8a17;
	border-radius: 8px;
	box-shadow: 1px 1px 6px 0 #df7002,
}
.wrapper {
	min-height: 100%;
}
.content {
	width: 1000px;
	height: 700px;
	position: static;
	margin: 0% 0% 0% 23%;
	padding: 10% 0% 0% 0%;
	background-color: rgba(0, 0, 0, 0.15);
	border: 8px;
	border-style: ridge;

}
.footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem 0 10px;
	background-color: #efefef;
	text-align: center;
}