html, body
{
    min-height: 100%;
}
.header {
  	position: relative;
    left: 0;
    right: 0;
    top: 0;
    background-color: #efefef;
	border-bottom: 3px solid #fd8a17;
	border-right: 5px solid #fd8a17;
	border-left: 2px solid #fd8a17;
	box-shadow:
  		0 1px 1px #ccc,
        0 2px 2px #c9c9c9,
        0 3px 3px #bbb,
        0 4px 4px #b9b9b9,
        0 5px 5px #aaa,
        0 6px 1px rgba(255,0,0,.1),
        0 0 5px rgba(0,0,0,.1),
        0 1px 3px rgba(0,0,0,.3),
        0 3px 5px rgba(0,0,0,.2),
        0 5px 10px rgba(0,0,0,.25),
        0 10px 10px rgba(0,0,0,.2),
        0 20px 20px rgba(0,0,0,.15);
}
.header header img {
	width: 50px;
	height: 50px;
	margin: 0 2% 0 2%;
  	position: absolute;
}
.header nav {
	background-color: #EDEDED;
	margin: 35px 20px 20px 20px;
	border-top: 1px solid #df7002;
	left:0;
	right: 0;

}
.header nav ul {
	width: 100%;
	text-align: center;
	list-style: none;
	padding: 0;
}
.header li {
	display: inline-block;
	padding: 1% 2% 1% 2%;
	background-color: rgba(255, 255, 255, 2.35);
	margin: 0 2% 0 2%;
	border: 3px outset #fd8a17;
	border-radius: 8px;
	font-family: 'VT323', ;
	box-shadow: 1px 1px 6px 0 #df7002;
 	font-size: 20px; 
 	color: black;
 	font-weight: 900;
 	font-size:30px ;
  	text-shadow: 
  		0 1px 0 #ccc,
        0 2px 0 #c9c9c9,
        0 3px 0 #bbb,
        0 4px 0 #b9b9b9,
        0 5px 0 #aaa,
        0 6px 1px rgba(255,0,0,.1),
        0 0 5px rgba(0,0,0,.1),
        0 1px 3px rgba(0,0,0,.3),
        0 3px 5px rgba(0,0,0,.2),
        0 5px 10px rgba(0,0,0,.25),
        0 10px 10px rgba(0,0,0,.2),
        0 20px 20px rgba(0,0,0,.15);
        transition: color .3s ease 0s, background-color .3s ease 0s;

}
.header li a{
	text-decoration: none;
	color: inherit;
}
.header li:hover{
	background-color: #F01F5E;
 	color: white;
  	text-shadow: 
  		0 1px 0 #7D7D7D,
        0 2px 0 #757575,
        0 3px 0 #6B6B6B,
        0 4px 0 #666666,
        0 5px 0 #595959,
        0 6px 1px rgba(255,0,0,.1),
        0 0 5px rgba(0,0,0,.1),
        0 1px 3px rgba(0,0,0,.3),
        0 3px 5px rgba(0,0,0,.2),
        0 5px 10px rgba(0,0,0,.25),
        0 10px 10px rgba(0,0,0,.2),
        0 20px 20px rgba(0,0,0,.15);
}
.wrapper {
	min-height: 100%;
	min-width: 960px; margin: 0 auto;"
	position: relative;
}
.content {
	width: 1000px;
	height: 550px;
	position: static;
	margin: 0% 0% 0% 23%;
	padding: 10% 0% 0% 0%;
	background-color: rgba(0, 0, 0, 0.15);
	border: 8px;
	border-style: ridge;


}
.footer {
	bottom: 0;
	right: 0;
	left: 0;
	position: fixed;
	background-color: red;
	text-align: center;
}
.footer footer h5{
	position: relative;
}