html{
	width: 100%;
	height: 200%;
}
body {
	margin: 0;
	padding: 0;
	animation: fadein 1s;
	background-color: #C8E6C9;
	width: 100%;
	height: 200%;
}
header {
	height: 19vw;
	width: 100%;
	background-color: #4CAF50;
	padding: 0 0 0 0;
	top:0;
	left: 0;
	right: 0;
	animation: float .5s;
	box-shadow: 0px 3px 8px 1px rgba(50, 50, 50, 0.35);
	z-index: -2;
}
Nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: #388E3C;
	box-shadow: 0px 3px 8px 1px rgba(50, 50, 50, 0.35);
}
Nav li {
	display: inline-block;
    font-size: 1.2em;
	color: white;
	text-align: center;
    height: 40px;
    width: 120px;
    line-height: 40px;
    margin-right: -4px;
    font-family: 'Roboto', sans-serif;
    text-shadow: 0px 2px 5px rgba(0, 100, 0, 1);;

}
Nav ul a {
    text-decoration: none;
    display: block;
    color: white;
    transition: background-color .3s;
    height: 40px;
}
 
Nav ul a:hover {
    background-color: #fff;
    height: 40px;
    color: black;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.35);
}
 
Nav ul a.active {
    background-color: #fff;
    color: black;
    cursor: default;
    height: 60px;
    box-shadow: 0px 0px 8px 3px rgba(50, 50, 50, 0.35);
    text-shadow: 0px 0px 0px;
}
.Logo {
	float: right;
	width: 50px;
	margin-top: 20px; 
	margin-right: 40px;
}
.Logo img {
	width: 80px;
	height: 80px;
	animation: fadein 2.2s forwards 4s;
	opacity: 0;
}
.Logo img:hover {
	background-color: transparent;
}
.Text {
	font-size: 6vw;
	float: left;
	color: transparent;
	margin: 8vw 0 auto 1vw;	
	animation: floattext .8s 0.5s forwards;
	position: relative;
}
.Text p{
	animation: fadetext 3s 0.5s forwards;
	color: transparent;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	margin: 0;
	width: 52vw;
}
main {
	width: 100%;
	height: 100%;
}
.headercontent {
	width: 700px;
	height: 700px;
	min-width: 200px;
	min-height: 200px;
	float: right;
	margin: 0 4vw 0 0;
	animation: Content 1s 1.5s forwards;
    border-radius: 100%;

}
#profile {
	width: 180px;
	height: 180px;
	margin: 100px 0px 0px 290px;
	opacity: 0;
	animation: Profilep 1s 1.8s forwards;
}
.contenttext {
	text-align: center;
	animation: Profilep 1s 1.8s forwards;
	opacity: 0;
	width: 700px;
}
.contenttext p {
		font-family: 'Rovoto', sans-serif;
		font-size: 30px;
		padding: 0 50px 0 50px;
}
.Parallax {
	width: 100%;
	height: 20%;
	padding-top: 50vw;
}
.img1 {
		background-image: url("../Resources/gbg.jpg");
		height: 500px;
	    background-position:center top;
	    background-repeat: no-repeat;
	    background-size: 100% 100%;

}
footer {
	bottom:0;
	right: 0;
	left: 0;
	color: white;
    text-align: right;
    margin-right:10px ;
    font-family: 'Lato', sans-serif;
}
footer a{
	text-decoration: none;
	color: orange;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@keyframes floattext {
	from { left: -300px;}
	to   { left: 0px;}
}
@keyframes fadetext {
    from { opacity: 0; }
    to   { opacity: 1;color:white; }
}
@keyframes float {
	from { top: -300px;}
	to   { left: 0px;}
}
@keyframes floattext2 {
	from { right: 4000px;}
	to   { left: -300px;}
}
@keyframes Content {
	from { margin-top: 500px ;}
	to   { margin-top: -100px;background-color: white;box-shadow: 0px 0px 8px 3px rgba(50, 50, 50, 0.35);}
}
@keyframes Profilep {
	from { opacity: 0;}
	to   { opacity: 1;}
}