@charset "UTF-8";
html{
	width: 100%;
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	animation: fadein 1s;
	background-color: #00b8d4;
	width: 100%;
	height: 100%;
}
header {
	width: 100%;
	height: 10%;
	background-color: #0088a3;
	
}
/*header ul {
	margin: 0;
	padding: 0;
	list-style: none;
}*/

Header nav{
	height: 100%;
	width: 80%;
}

header nav a{
	height: 40px;
    width: 120px;
    padding: 0px 10px 10px 10px;
    display:inline-block;
	
}